.top-row{
  background-color: rgba(128, 128, 128, 0.137);
  height: auto; 
  padding: 10px 0 20px 0;
}
.img-box{
  /* border: 1px solid black; */
  margin-top: 4rem;
  text-align: center;
}
.name-txt{
  color: black;
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.sub-title-txt{
  color: black;
  margin-top: 2px;
}
.post-section{
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  position: relative;
}
.profile-post-img{
  margin-top: 20px;
  cursor: pointer;
}
.load-more-btn{
  margin: 2rem;
  background-color: #c4bfbf7c;
  border: 0;
  padding: 10px;
}