body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.accordion-button {
  background: black !important;
}

.accordion-body {
  background-color: black !important;
  color: #66a4e0;
}
.responsiveSidebar {
  position: relative;
  z-index: 999;
  width: 240px;
}
.bars {
  background-color: black;
  padding: 10px;
  border-radius: 20%;
  margin: 20px 20px;
  border-width: 2px;
  border-color: #66a4e0;
  border: none;
}
.card-structure {
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 10px;
  width: 600px;
  height: 60px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.parent-container {
  /* position: absolute;
  margin: auto;
  top: 50%;
  left: 20%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.pdf {
  background-color: white;
  border-radius: 10px;
  border: 1px solid red;
  width: 500px;
  padding: 10px;
}
.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 22px;
}

#myAccordion {
  max-width: 805px;
}
.note {
  width: 800px !important;
  color: #3c4043 !important;
  background-color: #fff !important;
}
.card-body {
  background-color: #fff !important;
  border: 1px solid #dadce0;
}
.assignment {
  color: #3c4043 !important;
}
.assignment:hover {
  color: #e8710a !important;
}
/* button animation */
