body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.accordion-button {
  background: black !important;
}

.accordion-body {
  background-color: black !important;
  color: #66a4e0;
}
.responsiveSidebar {
  /* position: absolute; */
  margin-right: 40px;
  position: relative;
  z-index: 999;
  width: 240px;
}

.bars {
  background-color: black;
  padding: 10px;
  border-radius: 20%;
  margin: 20px 20px;
  border-width: 2px;
  border-color: #66a4e0;
  border: none;
}
.bars:active {
  transition: all 2s;
}

.card-structure {
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 10px;
  width: 600px;
  height: 60px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pdf {
  background-color: white;
  border-radius: 10px;
  border: 1px solid red;
  width: 500px;
  padding: 10px;
}
.pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 22px;
}

#myAccordion {
  max-width: 805px;
}
.note {
  width: 800px !important;
  color: #3c4043 !important;
  background-color: #fff !important;
}
.card-body {
  background-color: #fff !important;
  border: 1px solid #dadce0;
}
.assignment {
  color: #3c4043 !important;
}
.assignment:hover {
  color: #e8710a !important;
}
/* button animation */
.calendly {
  height: 800px;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* here is styling of upload notes section */
.files input {
  border-radius: 40px;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  border: 1px solid #92b0b3;
}
.files {
  position: relative;
}
.files:after {
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input {
  background-color: #f1f1f1;
}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.inner-div {
  padding: 20px 30px;
}
button {
  border: 2px solid lightgrey;
  border-radius: 40px;
  background: transparent;
  color: white;
  padding: 5px 30px;
}
/* end */
.notes-item {
  background-color: white !important;
}
.notes {
  border: 2px solid gray;
  border-radius: 10px;
}
